@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --cellHeight: 30px;
  --cellWidth: 30px;
  --rows: 18;
  --columns: 10;
}
body {
  background-color: rgba(0, 0, 0, 0.15);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  font-family: "Wix Madefor Display", sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--columns), var(--cellWidth));
  grid-template-rows: repeat(var(--rows), var(--cellHeight));
}
.cell {
  border-radius: 5%;
  background-color: black;
  /* border: 0.01px gray solid; */
}
.cell img,
.snake img,
.food img {
  width: 30px;
  height: 30px;
}
.snake {
  border: 0.5px solid rgba(0, 0, 0, 0.7);
  border-radius: 0%;
  background-color: aqua;
}
.food {
  border-radius: 5%;
  background-color: white;
}
.footer {
  display: flex;
  justify-content: center;
}
.play-again {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 200px;
  height: 50px;
  background-color: white;
}
.game-over {
  display: none;
  text-align: center;
}
.score {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.score-div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #feed00;

  font-size: 20px;
}
.header {
  margin-bottom: 20px;
}
.rules {
  width: 90vw;
  margin: 0 auto;
}
.main-menu,
.rules,
.leaderboard,
.registration {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
.button-main {
  width: 90vw;
  padding: 1vh;
  height: 50px;
  margin: auto;
  border-radius: 5px;
  border: none;
}
#registrationForm label {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}
#registrationForm label input {
  border-radius: 6px;
  border: none;
  height: 5vh;
  padding-left: 20px;
}
.input-tab {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #feed00;
  width: fit-content;
  margin-bottom: 1vh;
}
.hello-text,
#successMessage {
  width: 90vw;
  margin: 0 auto;
}
.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
.leaderboard-table {
  height: 70dvh;
  width: 90vw;
  display: block;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.leaderboard-table tr {
  display: flex;
  flex-direction: column;
}
.leaderboard-score {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 10px;
  text-transform: uppercase;
}
.yellow-tab {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #feed00;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
